@font-face {
  font-family: "Harlow";
  src: url("./HARLOWSI.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(204, 232, 204);
  margin: 0px;
}
.button {
  background-image: url("knapp.png");
  background-size: cover;
  width: 18.46vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 666;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.336);
  height: 20vh;
}
header img {
  width: 150px;
}

.introduction {
  height: 100%;
  width: 100%;
  background-image: url("donken.jpg");
  background-size: cover;
  overflow: hidden;
  animation: 3s ease-in-out forwards 4s compress;
}
.maincontent {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(204, 232, 204);
}
.frame {
  margin: 2.5vw;
  background-image: url("painter.jpg");
  background-size: cover;
}
.desc {
  display: flex;
  background-color: rgb(226, 182, 207);
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  font-family: "Harlow";
  flex-direction: column;
}
.desc h4 {
  font-size: 2vw;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
.introductioninner {
  display: grid;
  grid-template-rows: 200fr 60fr 100fr 500fr;
  grid-template-columns: 40fr 500fr 500fr;
  background-color: rgba(226, 182, 207, 0.5);
  background-image: url("overlay.png");
  background-position: left;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  animation: slidein 3s ease-in-out forwards 1s;
}
nav a {
  margin: 1.25vw;
  font-family: "Harlow";
  text-decoration: none;
  color: black;
  font-size: 3vw;
}
.introduction h1 {
  font-family: "Harlow";
  color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 1);
  font-size: 3.5vw;
  grid-row-start: 2;
  grid-column-start: 2;
}
.introduction h2 {
  font-family: "Harlow";
  font-size: 2.5vw;
  grid-row-start: 3;
  grid-column-start: 2;
}
.frame2 {
  margin: 2.5vw;
  background-image: url("money.jpg");
  background-size: cover;
}
.frame3 {
  margin: 2.5vw;
  background-image: url("reading.jpg");
  background-size: cover;
}
.frame4 {
  margin: 2.5vw;
  background-image: url("confused.png");
  background-size: cover;
}
.line {
  background-color: rgb(0, 0, 0);
  height: 2px;
  width: 100%;
}
.news {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 8vw 45px 8vw 1fr 200px;
  margin-left: 10px;
}
.news h2 {
  text-decoration: underline;
  font-size: 3vw;
  grid-row: 2/2;
}
.news img {
  grid-column-start: 1;
  grid-row-start: 4;
  width: 100%;
}
.news p {
  margin-top: 20px;
  grid-column-start: 1;
  grid-row-start: 5;
  font-weight: bold;
  font-size: 1.5vw;
}
.news div {
  display: flex;
  justify-content: center;
}
.news h1 {
  font-family: "Harlow";
  font-size: 6vw;
}
.extra {
  background-color: black;
  color: white;
  font-family: "Harlow";
  grid-column: 1/1;
  grid-row: 3/3;
  flex-direction: row;
  justify-content: space-evenly;
}
.extra h1 {
  font-size: 6.3vw;
}
.extra h1:first-child {
  color: red;
}
.member {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 30% 70%;
  background-image: url("suprise.jpg");
  background-size: cover;
}

.member div:first-child {
  font-family: "Harlow";
  background-color: rgb(227, 101, 193);
  padding-left: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.member h2 {
  font-size: 3.5vw;
  margin-bottom: 8px;
}
.member li {
  list-style: disc inside;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3vw;
}
.register {
  font-family: "Harlow";
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 2px solid black;
}
.member form {
  display: flex;
  flex-direction: column;
}
.member input {
  margin: 2vw;
  width: 10vw;
  height: 30px;
  border: 1px solid black;
  padding: 8px;
  display: inline-block;
}
.member label {
  margin-left: 2vw;
  font-size: 2vw;
}
.button2 {
  background-image: url("knapp2.png");
  background-size: cover;
  width: 18.46vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  display: grid;
  grid-template-columns: 15vw 1fr 40vw;
  grid-template-rows: 10vw 10vw 40vw;
  background-color: rgb(226, 182, 207);
}
.about h1 {
  font-size: 5vw;
  font-family: "Harlow";
  grid-column: 2/2;
}
.about h2 {
  font-family: "Harlow";
  font-size: 3vw;
  grid-column: 2/2;
}
.about ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 2vw;
  grid-column: 2/2;
}
.about li {
  margin-top: 10px;
}
input {
  background-color: rgb(204, 232, 204);
}
.submit {
  background-color: rgb(227, 101, 193);
  border: none;
  color: black;
  font-family: "Harlow";
  padding: 16px 32px;
}
.benefits {
  display: grid;
  grid-template-columns: 70vw 1fr;
  grid-template-rows: 45vw 1fr;
  width: 98vw;
  background-image: url("benefitbackground.png");
  background-size: cover;
}
.benefits h1 {
  display: none;
}
.benefits ul {
  grid-column: 2/2;
  grid-row: 2/2;
  font-family: "Harlow";
  font-size: 3vw;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5vw;
  margin-top: 10px;
}
.FAQ {
  height: 105vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.questions {
  border-top: solid black;
  border-bottom: solid black;
  border-left: solid black 1vw;
  margin-left: 5vw;
  padding-top: 4vh;
  padding-left: 2vw;
  display: grid;
  grid-template-columns: 15vw 1fr;
}
.answers {
  border-top: solid black;
  border-bottom: solid black;
  border-left: solid rgb(227, 101, 193) 1vw;
  padding-top: 4vh;
  padding-left: 2vw;
  display: grid;
  grid-template-columns: 15vw 1fr;
}
.FAQ h2 {
  font-family: "Harlow";
}
.FAQ p {
  font-family: "Times New Roman", Times, serif;
}
footer {
  bottom: 0%;
  display: grid;
  grid-template-columns: 1fr 30vw 1fr;
  grid-template-rows: 13vw 17vw;
}
footer img {
  width: 30vw;
  bottom: 0%;
  grid-row: 1/2;
  grid-column: 2/2;
}
.footername {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid black;
  grid-row: 1/1;
  font-family: "Harlow";
  font-size: 2.5vw;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid black;
  grid-row: 1/1;
  grid-column: 3/3;
  font-family: "Times New Roman", Times, serif;
  font-size: 2vw;
}
@keyframes slidein {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 100%;
    width: 300%;
  }
}
@media screen and (max-width: 600px) {
  main {
    height: 50vh;
  }
  .introduction {
    height: 50vh;
  }
  .introductioninner {
    height: 50vh;
  }
  .maincontent {
    height: 50vh;
  }
  header img {
    width: 20vw;
  }
  .member input {
    width: 30vw;
  }
  .member label {
    font-size: 16px;
  }
  .news p {
    font-size: 3vw;
  }
  .benefits {
    background-color: rgb(226, 182, 207);
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .benefits h1 {
    display: block;
    font-family: "Harlow";
    font-size: 20px;
    justify-self: top;
  }
  footer {
    bottom: 0%;
  }
  .news h2 {
  }
  h1 {
    font-size: 20px;
  }
  h2,
  .news h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 13.5px;
  }
  ul,
  ul p,
  p,
  .news p {
    font-size: 12px;
  }
  a,
  nav a,
  ul li {
    font-size: 13px;
  }
}
